[Desktop Entry]
Name=Vlkxn
Comment=Decentralized P2P VPN for Gaming
Exec=/usr/bin/vlkxn-gui
Terminal=false
Type=Application
Categories=Network;Game;
Icon=vlkxn
